# Set

Un set (ensemble) en Python est une collection non ordonnée et non indexée d'éléments uniques. Contrairement aux listes et aux tuples, un set ne peut pas contenir de doublons. Les éléments d'un set doivent être immuables (c'est-à-dire des types comme les nombres, les chaînes de caractères, les tuples), mais le set lui-même est modifiable (on peut y ajouter ou supprimer des éléments).

**Exemple :**

In [ ]:
# Définir un set
mon_set = {1, 2, 3, 4}
print(mon_set)

{1, 2, 3, 4}

## Différence par rapport aux Listes

Les listes sont des collections ordonnées d'éléments où l'ordre est important et où les éléments peuvent être dupliqués. Les sets, en revanche, ne conservent pas d'ordre particulier et n'autorisent pas les éléments en double. De plus, les éléments d'une liste sont accessibles via leur index, ce qui n'est pas possible avec un set.

**Exemple d'une Liste :**

In [ ]:
# Liste avec des éléments en double
ma_liste = [1, 2, 2, 3, 4]
print(ma_liste)

[1, 2, 2, 3, 4]

**Exemple d'un Set :**

In [ ]:
# Set sans éléments en double
mon_set = {1, 2, 3, 4}
print(mon_set)

{1, 2, 3, 4}

## Ajouter un Élément à un Set

Pour ajouter un élément dans un set, on utilise la méthode add(). Si l'élément existe déjà, il ne sera pas ajouté car les sets ne peuvent pas contenir de doublons.

**Exemple :**

In [ ]:
# Ajouter un élément
mon_set.add(5)
print(mon_set)

{1, 2, 3, 4, 5}

## Ajouter un Élément en Double à un Set

Si vous essayez d'ajouter un élément en double à un set, Python ne soulèvera pas d'erreur, mais l'élément ne sera tout simplement pas ajouté.

**Exemple :**

In [ ]:
# Essayer d'ajouter un doublon
mon_set.add(3)  # Aucun changement car 3 est déjà dans le set
print(mon_set)

{1, 2, 3, 4, 5}

## Supprimer un Élément d'un Set

Pour supprimer un élément d'un set, vous pouvez utiliser les méthodes `remove()` ou `discard()`. La différence est que `remove()` lève une erreur si l'élément n'est pas trouvé, tandis que `discard()` ne fait rien dans ce cas.

**Exemple avec `remove()` :**

In [ ]:
# Supprimer un élément existant
mon_set.remove(2)
print(mon_set)

{1, 3, 4, 5}

**Exemple avec `discard()` :**

In [ ]:
# Supprimer un élément avec discard (sans erreur si l'élément n'existe pas)
mon_set.discard(10)  # Aucun effet, même si 10 n'est pas dans le set
print(mon_set)

{1, 3, 4, 5}

## Vérifier si un Élément est dans un Set

Pour vérifier si un élément fait partie d'un set, on utilise l'opérateur `in`.

**Exemple :**

In [ ]:
# Vérifier la présence d'un élément
3 in mon_set  # True

True

## Opérations Logiques sur les Sets

Les sets en Python prennent en charge plusieurs opérations logiques comme l'intersection, la différence, l'union, le sous-ensemble et le super-ensemble.

### Intersection de Sets

Renvoie les éléments communs entre deux sets.

**Exemple :**

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2  # {3, 4}
print(intersection)

{3, 4}

### Différence de Sets

Renvoie les éléments qui sont dans le premier set mais pas dans le second.

**Exemple :**

In [ ]:
difference = set1 - set2  # {1, 2}
print(difference)

{1, 2}

### Union de Sets

Renvoie un set contenant tous les éléments de deux sets, sans doublons.

**Exemple :**

In [ ]:
union = set1 | set2  # {1, 2, 3, 4, 5, 6}
print(union)

{1, 2, 3, 4, 5, 6}

### Sous-ensemble (Subset)

Vérifie si tous les éléments d'un set sont dans un autre set.

**Exemple :**

In [ ]:
subset = {1, 2}
is_subset = subset.issubset(set1)  # True
print(is_subset)

True

### Super-ensemble (Superset)

Vérifie si tous les éléments d'un autre set sont présents dans le set courant.

**Exemple :**

In [ ]:
is_superset = set1.issuperset(subset)  # True
print(is_superset)

True

## Autres Opérations sur les Sets

- `copy()` : Crée une copie du set.
- `clear()` : Vide tous les éléments du set.
- `symmetric_difference()` : Renvoie les éléments présents dans un set mais pas dans l'autre, et vice versa (les éléments uniques à chaque set).
- `update()` : Ajoute les éléments d'un autre set au set courant.

**Exemple :**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Utilisation de symmetric_difference()
sym_diff = set1.symmetric_difference(set2)  # {1, 2, 4, 5}
print(sym_diff)

# Copier un set
copie_set = set1.copy()
print(copie_set, set1)

# Vider un set
set1.clear()
print(set1)

{1, 2, 4, 5}
{1, 2, 3} {1, 2, 3}
set()

# Exercices de Programmation sur les Sets

1. Créer un set avec cinq éléments et ajouter un nouvel élément.

In [1]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

2. Essayer d'ajouter un élément en double à un set.

In [2]:
my_set = {1, 2, 3}
my_set.add(3)  # Essayer d'ajouter 3, qui est déjà présent
print(my_set)  # Le set restera inchangé

{1, 2, 3}

3. Vérifier si un élément est dans un set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in my_set:
  print(f"{element_to_check} est dans le set.")
else:
  print(f"{element_to_check} n'est pas dans le set.")

4. Créer deux sets et calculer leur intersection.

In [3]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1.intersection(set2)
print(intersection)

{4, 5}

5. Calculer la différence entre deux sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference = set1 - set2
print(difference)

{1, 2, 3}

6. Créer l'union de deux sets et vérifier le résultat.

In [6]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}